PORT=4000
MONGO_PASSWORD=<your-password-here>
MONGODB_URI=mongodb+srv://softwaredev:${MONGO_PASSWORD}@devcluster.bj5y39d.mongodb.net/mjc_dashboard?retryWrites=true&w=majority&appName=DevCluster
JWT_SECRET=<your-jwt-secret-here>
ICS_FEED_URL=https://portal.jetinsight.com/schedule/fb217c59-38ab-4ae7-9b42-8f387a34cf15/58649a7e-58c3-44b3-bd97-63d4c9a62756.ics
CORS_ORIGIN=http://localhost:3000
